<!--The usual starter, The Form.-->
<div id="div2">
<fieldset>
  <br><br>
  Enter your username:
  <input type="text" placeholder="Username" [(ngModel)]="name" (blur)="username()"><br><br>
  <span id=span1>{{ alrt }} </span> <br>
  Enter your password:
  <input type="password" placeholder="Password" [(ngModel)]="pass" (blur)="password()"><br><br>
  <div (click)=radio()>
  Choose your gender: 
   <input type="radio" value="male" name="gender" [(ngModel)]="gender">
   Male 
   <input type="radio" value="female" name="gender" [(ngModel)]="gender" >
   Female<br><br>
  </div>
  Enter your phone number:
  <input type="number" placeholder="Contact Info" [(ngModel)]="phone" (blur)="contact()"><br><br>
  Choose your desired course: 
  <select [(ngModel)]="opt" (click)="lst()">
    <option *ngFor="let i of drop" value=i>{{i}}</option>
  </select><br><br>
  Progress:
  <progress value="{{prog}}" max="100"></progress>
  <button routerLink = "Ashish">Submit</button>
  </fieldset>
  <button id="fblogin" ng-click="FBLogin()">FACEBOOK</button>
</div>
<router-outlet></router-outlet>